
form {
	margin-bottom: 1rem;
}

.headfoot {
	position: relative;
    color: #ffffff;
}

.floatright{

    float: right;
}


table td{
    border-top: none !important;
}

.color-primary {
    color: #428bca;
}

a:hover{
    text-decoration: none;
}
/*
input {
	margin-bottom: 15px;
}

button {
	margin-bottom: 15px;
}
*/



