
form {
	margin-bottom: 1rem;
}
/*
.headfoot {
    position: relative;
    color: #ffffff;
}

.floatright{
    float: right;
}

.floatleft{
    float: left;
}
*/
table td{
    border-top: none !important;
}
/*
.color-primary {
    color: #428bca;
}*/

a:hover{
    text-decoration: none;
}

.centered{
    text-align: center;
}

/*
img{
    max-width: 100%;
    height: auto;
}

video{
    max-width: 100%;
    height: auto;
}*/

.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

        border-right: 1px solid #eee;
    }
}

nav{
    z-index: 1001;
}

.colorwhite{
    color:#ffffff;
}

/*
#navcol1, #navcol2 {
    margin-right: 60px;
     margin-top: auto;
     margin-bottom: auto;
     padding: 0%;

}

*/


/*
.navbar-header{
    width: 100%;
}*/
/*
.headinline{
    display: inline;
}
*/

a, body, html, a:hover {
    color:white;
}


html, body{
    height: 100%;

}

.fill-bg{
    height: 100%;
    background-color:darkslategray;
}


div[class=row]{
    margin-bottom: 10px;
}

.container{
    padding-bottom: 51px;
}
/*
.youtube-widget{
    position: relative;
    padding-bottom: 56.25%; /* 16:9
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}





