

<nav class="navbar navbar-default navbar-fixed-top headfoot" >
    <div class="container-fluid bg-primary">
        <div class="navbar-header navbar-brand">


            <a href="#/user/:uid"><scan class="glyphicon glyphicon-chevron-left headfoot"></scan></a>

            <b class="headfoot">Websites</b>





            <a href="#/user/:uid/website/new"><scan class="glyphicon glyphicon-plus headfoot floatright"></scan></a>
        </div>

    </div>
</nav>

<div class="container">


    <div class="row">
        <div class="col-xs-12">

            <table class="table color-primary">



                    <tr>
                        <td><a href="#/user/:uid/website/:wid/page">Test Website</a></td>
                        <td><a href="#/user/:uid/website/:wid"><scan class="glyphicon glyphicon-cog"></scan></td></a>

                    </tr>



            </table>

        </div>
    </div>














</div>




<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid bg-primary">
        <div class="navbar-header navbar-brand floatright">


                <a href="#/user/:uid"><scan class="glyphicon glyphicon-user headfoot floatright"></scan></a>


        </div>
    </div>
</nav>


