


<nav class="navbar navbar-default navbar-fixed-top headfoot" >
    <div class="container-fluid bg-primary">
        <div class="navbar-header navbar-brand">


            <a href="#/user/:uid/website" class="headfoot floatleft"><scan class="glyphicon glyphicon-chevron-left headfoot"></scan></a>




            <b class=" navbar-collapse collapse navbar-left colorwhite" id="navcol1" >Websites</b>



            <a href="#/user/:uid/website/new" class="navbar-collapse collapse navbar-brand" id="navcol2"  ><scan class="glyphicon glyphicon-plus colorwhite" ></scan></a>




            <b class="headfoot">New Website</b>




            <a href="#/user/:uid/website"><scan class="glyphicon glyphicon-ok headfoot floatright"></scan></a>


        </div>

    </div>
</nav>

<div class="container-fluid">

    <div class="row">

        <div class="col-sm-3 col-md-2 sidebar">

            <table class="table color-primary">



                <tr>
                    <td><a href="#/user/:uid/website/:wid/page">Test Website</a></td>
                    <td><a href="#/user/:uid/website/:wid"><scan class="glyphicon glyphicon-cog"></scan></a></td>

                </tr>



            </table>


        </div>







        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


                <div class="row">
                    <label for="username">Name</label>
                    <input id="username" ng-model="model.website.name" type="text" class="form-control" placeholder="Name">
                </div>

                <div class="row">
                    <label for="description">Description</label>
                    <textarea id="description" ng-model="model.website.description" rows="3" class="form-control" placeholder="Description"></textarea>
                </div>


        </div>




    </div>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid bg-primary">
        <div class="navbar-header navbar-brand ">


                <a href="#/user/:uid"><scan class="glyphicon glyphicon-user headfoot floatright"></scan></a>


        </div>
    </div>
</nav>








