



<div ng-include="'/views/header2.view.client.html'"></div>

<div class="container">


    <div class="row">
        <div class="col-xs-12">




                <table class="table color-primary">
                    <tr ng-repeat="gifGif in model.gifs">
                        <td><a href="#/user/{{model.userId}}/topic/{{model.topicId}}/gif/{{gifGif._id}}/comment"><img ng-src="{{model.checkSafeImageUrl(gifGif.url)}}" height="{{gifGif.height}}" width="{{gifGif.width}}"></a></td>
                        <td><a href ng-click="model.deleteGif($index)" ng-if="model.user.admin || gifGif._user===model.user._id"><scan class="glyphicon glyphicon-remove "></scan></a></td>

                        <td>Comment</td>
                    </tr>
                </table>


        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">


            <a href="#/user/{{model.userId}}/topic/{{model.topicId}}/gif/search"><button type="submit" class="btn btn-success form-control">Add Gif</button></a>


        </div>
    </div>













</div>







