

<nav class="navbar navbar-default navbar-fixed-top headfoot " >
    <div class="container-fluid row">
        <div class="navbar-header">


            <div class="col-sm-1 ">

                <a href="#/user/:uid/website/:wid/page" class="floatleft"><scan class="glyphicon glyphicon-chevron-left navbar-brand"></scan></a>
            </div>

            <div class="col-sm-1 hidden-xs ">
                <b class="  navbar-brand"  >Pages</b>
            </div>

            <div class="col-sm-1 hidden-xs">
                <a href="#/user/:uid/website/:wid/page/new"   ><scan class="glyphicon glyphicon-plus navbar-brand" >

                </scan></a>
            </div>


            <div class="col-sm-9">
                <b class="navbar-brand">New Page</b>


                <a href="#/user/:uid/website/:wid/page"><scan class="glyphicon glyphicon-ok floatright navbar-brand"></scan></a>
            </div>

        </div>


    </div>
</nav>

<div class="container-fluid">

    <div class="row">

        <div class="col-sm-3 sidebar">

            <table class="table color-primary">



                <tr>
                    <td><a href="#/user/:uid/website/:wid/page/:pid/widget">Test Page</a></td>
                    <td><a href="#/user/:uid/website/:wid/page/:pid"><scan class="glyphicon glyphicon-cog floatright"></scan></a></td>

                </tr>



            </table>


        </div>

        <div class="col-sm-9 col-sm-offset-3 main">


                <div class="row">
                    <div class="col-sm-9">


                        <label for="username">Name</label>
                        <input id="username" ng-model="model.page.username" type="text" class="form-control" placeholder="Page Name">


                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-9">


                        <label for="email">Title</label>
                        <input id="email" ng-model="model.page.title" type="text" class="form-control" placeholder="Page Title">


                    </div>
                </div>



        </div>

    </div>




</div>




<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid">
        <div class="navbar-header navbar-brand">


            <a href="#/user/:uid"><scan class="glyphicon glyphicon-user color-primary floatright"></scan></a>


        </div>
    </div>
</nav>

