

<nav class="navbar navbar-default navbar-fixed-top headfoot" >
    <div class="container-fluid">
        <div class="navbar-header">


            <a href="#/user/:uid/website"><scan class="glyphicon glyphicon-chevron-left navbar-brand"></scan></a>

            <b class="navbar-brand">Pages</b>


            <a href="#/user/:uid/website/:wid/page/new"><scan class="glyphicon glyphicon-plus navbar-brand floatright"></scan></a>
        </div>


    </div>
</nav>

<div class="container">


    <div class="row">
        <div class="col-xs-12">

            <table class="table color-primary">



                <tr>
                    <td><a href="#/user/:uid/website/:wid/page/:pid/widget">Test Page</a></td>
                    <td><a href="#/user/:uid/website/:wid/page/:pid"><scan class="glyphicon glyphicon-cog floatright"></scan></a></td>

                </tr>



            </table>

        </div>
    </div>














</div>




<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid">
        <div class="navbar-header navbar-brand ">


                <a href="#/user/:uid"> <scan class="glyphicon glyphicon-user color-primary floatright"></scan> </a>

        </div>
    </div>
</nav>


