



<div ng-include="'/views/header2.view.client.html'"></div>


<div class="container-fluid">

    <div class="row">

        <div class="col-sm-3 col-md-2 sidebar">


                <table class="table color-primary">
                    <tr ng-repeat="eachtopic in model.topics">
                        <td><a href="#/user/{{model.userId}}/topic/{{eachtopic._id}}/gif">{{eachtopic.name}}</a></td>
                        <td><a href="#/user/{{model.userId}}/topic/{{eachtopic._id}}"  class="floatright"><scan class="glyphicon glyphicon-cog"></scan></a></td>

                    </tr>
                </table>



        </div>







        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div ng-show="model.alert" class="row alert alert-danger alert-dismissible">
                {{model.alert}}
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label for="username">Topic Name</label>
                    <input id="username" ng-class="{'alert-danger': model.alert && !model.topic.name}" ng-model="model.topic.name" type="text" class="form-control" placeholder="Name">
                    <div class="col-xs-12 field-error" ng-show="model.alert && !model.topic.name">
                        name is required
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <label for="description">Topic Description</label>
                    <textarea id="description" ng-model="model.topic.description" rows="3" class="form-control" placeholder="Description"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">

                    <a href ng-click="model.updateTopic(model.topic)"><button type="submit" class="btn btn-success form-control">Confirm Edit</button></a>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">

                    <a href="#/user/{{model.userId}}/topic" ng-click="model.deleteTopic()"><button type="submit" class="btn btn-danger form-control">Delete</button></a>

                </div>
            </div>



        </div>




    </div>

</div>







