

<div class="container">

    <h1>Register</h1>

    <form action="#/user/:uid">
    <div class="row">
        <div class="col-xs-12">


                <input type="text" class="form-control" placeholder="username">


        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">


                <input type="password" class="form-control" placeholder="password">


        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">


                <input type="password" class="form-control" placeholder="verify password">


        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">


                <a href="#/user/:uid"><button type="submit" class="btn btn-primary form-control">Register</button></a>


        </div>
    </div>
    </form>

    <div class="row">
        <div class="col-xs-12">


                <a href="#/login"><button type="submit" class="btn btn-danger form-control">Cancel</button></a>

        </div>
    </div>






</div>

