

<nav class="navbar navbar-default navbar-fixed-top headfoot" >
    <div class="container-fluid">
        <div class="navbar-header">


                <a href="#/user/{{model.userId}}/website/{{model.webId}}/page"> <scan class="glyphicon glyphicon-chevron-left navbar-brand"></scan> </a>

                <b class="navbar-brand">Widgets</b>




            <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/new" class="floatright"><scan class="glyphicon glyphicon-plus navbar-brand"></scan></a>
        </div>


    </div>
</nav>

<div class="container">


    <div class="row">
        <div class="col-xs-12">



            <div ng-repeat="widget in model.widgets">
                <table class="table">
                <tr>
                    <td ng-include="'/assignment/views/widget/'+widget.widgetType+'.html'"></td>

                    <td class="floatright"><scan class="glyphicon glyphicon-align-justify "></scan></td>
                    <td class="floatright"><a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/{{widget._id}}"> <scan class="glyphicon glyphicon-cog  color-primary"></scan></a></td>
                </tr>
                </table>
            </div>



        </div>
    </div>














</div>




<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid">

        <div class="navbar-header navbar-brand">
            <scan class="glyphicon glyphicon-triangle-right"></scan>
            <scan class="glyphicon glyphicon-eye-open"></scan>





            <a href="#/user/{{model.userId}}" class="floatright"><scan class="glyphicon glyphicon-user color-primary"></scan></a>


        </div>
    </div>
</nav>


