

<nav class="navbar navbar-default navbar-fixed-top headfoot" >
    <div class="container-fluid">
        <div class="navbar-header ">


                <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget"> <scan class="glyphicon glyphicon-chevron-left navbar-brand"></scan> </a>

                <b class="navbar-brand">Choose Widget</b>



        </div>




    </div>
</nav>

<div class="container">


    <div class="row">
        <div class="col-xs-12">

            <table class="table color-primary">



                <tr>
                    <td><a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/{{model.widgetId}}" ng-click="model.addWidget('heading')">Header</a></td>
                </tr>
                <tr>
                    <td><a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/{{model.widgetId}}" ng-click="model.addWidget('image')">Image</a></td>
                </tr>
                <tr>
                    <td><a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/{{model.widgetId}}" ng-click="model.addWidget('youtube')">Youtube</a></td>
                </tr>



            </table>

        </div>
    </div>














</div>




<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid">
        <div class="navbar-header navbar-brand ">


                <a href="#/user/{{model.userId}}"><scan class="glyphicon glyphicon-user color-primary floatright"></scan></a>


        </div>
    </div>
</nav>


