<!--

<nav class="navbar navbar-default navbar-fixed-top headfoot" >
    <div class="container-fluid">
        <div class="navbar-header">


            <a href="#/user/:uid/website/:wid/page/:pid/widget"  > <scan class="glyphicon glyphicon-chevron-left navbar-brand "></scan> </a>

            <b class="navbar-brand" >Widget Edit</b>



            <a href="#/user/:uid/website/:wid/page/:pid/widget" class="floatright">
            <scan class="glyphicon glyphicon-ok navbar-brand "></scan></a>
        </div>



    </div>
</nav>

-->

<div class="container">


    <div class="row">
        <div class="col-xs-12">

            <form>
                <label for="username">Name</label>
                <input id="username" type="text" ng-model="model.widget.name" class="form-control">
            </form>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">


                <label for="txt">Text</label>
                <input id="txt" type="text" ng-model="model.widget.text" class="form-control">


        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">


                <label for="url">URL</label>
                <input id="url" ng-model="model.widget.url" type="text" class="form-control">


        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">


                <label for="width">Width</label>
                <input id="width" ng-model="model.widget.width" type="text" class="form-control">


        </div>
    </div>




    <div class="row">
        <div class="col-xs-12">


                <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget" ng-click="model.deleteWidget()"><button type="submit" class="btn btn-danger form-control">Delete</button></a>


        </div>
    </div>















</div>


<!--

<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid">
        <div class="navbar-header navbar-brand">


                <a href="#/user/:uid"><scan class="glyphicon glyphicon-user color-primary floatright"></scan></a>


        </div>
    </div>
</nav>

-->


