

<nav class="navbar navbar-default navbar-fixed-top headfoot" >
    <div class="container-fluid ">
        <div class="navbar-header ">

            <a href="#/user/:uid/website/:wid/page/:pid/widget"><scan class="glyphicon glyphicon-chevron-left navbar-brand"></scan></a>

            <b class="navbar-brand">Widget Edit</b>



            <a href="#/user/:uid/website/:wid/page/:pid/widget"><scan class="glyphicon glyphicon-ok navbar-brand floatright"></scan></a>
        </div>


    </div>
</nav>

<div class="container">

    <form action="#/user/:uid/website/:wid/page/:pid/widget">
    <div class="row">
        <div class="col-xs-12">


                <label for="username">Name</label>
                <input id="username" type="text" class="form-control">


        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">


                <label for="email">Text</label>
                <input id="email" type="text" class="form-control">


        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">


                <label for="size">Size</label>
                <input id="size" type="text" class="form-control">


        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">


                <a href="#/user/:uid/website/:wid/page/:pid/widget"><button type="submit" class="btn btn-danger form-control">Delete</button></a>


        </div>
    </div>
    </form>














</div>




<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid">
        <div class="navbar-header navbar-brand">


                <a href="#/user/:uid"><scan class="glyphicon glyphicon-user color-primary floatright"></scan></a>


        </div>
    </div>
</nav>


