

<nav class="navbar navbar-default navbar-fixed-top headfoot" >
    <div class="container-fluid">
        <div class="navbar-header">


                <a href="#/user/{{model.userId}}/website/{{model.webId}}/page"> <scan class="glyphicon glyphicon-chevron-left navbar-brand"></scan> </a>

                <b class="navbar-brand">Widgets</b>




            <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/new" class="floatright"><scan class="glyphicon glyphicon-plus navbar-brand"></scan></a>
        </div>


    </div>
</nav>

<div class="container">


    <div class="row">
        <div class="col-xs-12">




            <table class="table" jga-sortable
                   jga-sortable-callback="model.sortItem(start, end)">
            <tr ng-switch="widget.widgetType"
                 ng-repeat="widget in model.widgets">

                <td ng-switch="widget.size" ng-switch-when="heading">
                    <h1 ng-switch-when="1">{{widget.text}}</h1>
                    <h2 ng-switch-when="2">{{widget.text}}</h2>
                    <h3 ng-switch-when="3">{{widget.text}}</h3>
                    <h4 ng-switch-when="4">{{widget.text}}</h4>
                    <h5 ng-switch-when="5">{{widget.text}}</h5>
                    <h6 ng-switch-when="6">{{widget.text}}</h6>
                </td>
                <td ng-switch-when="youtube">
                    <iframe width="560" height="315"
                            ng-src="{{model.checkSafeYouTubeUrl(widget.url)}}"
                            frameborder="0" allowfullscreen></iframe>
                </td>
                <td ng-switch-when="image">
                    <img ng-src="{{model.checkSafeImageUrl(widget.url)}}" >
                </td>
                <td ng-switch-when="HTML" ng-bind-html="model.checkSafeHtml(widget.text)">
                </td>
                <td class="floatright"><scan class="glyphicon glyphicon-align-justify "></scan></td>
                <td class="floatright"><a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/{{widget._id}}"> <scan class="glyphicon glyphicon-cog  color-primary"></scan></a></td>

            </tr>
            </table>


        </div>
    </div>














</div>




<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid">

        <div class="navbar-header navbar-brand">
            <scan class="glyphicon glyphicon-triangle-right"></scan>
            <scan class="glyphicon glyphicon-eye-open"></scan>





            <a href="#/user/{{model.userId}}" class="floatright"><scan class="glyphicon glyphicon-user color-primary"></scan></a>


        </div>
    </div>
</nav>


