
<nav class="navbar navbar-default navbar-fixed-top headfoot" >
    <div class="container-fluid ">
        <div class="navbar-header ">

            <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget" ng-click="model.deleteTemp()"><scan class="glyphicon glyphicon-chevron-left navbar-brand"></scan></a>

            <b class="navbar-brand">Widget Edit</b>



            <a href ng-click="model.updateWidget()"><scan class="glyphicon glyphicon-ok navbar-brand floatright"></scan></a>
        </div>


    </div>
</nav>



<div ng-include="'/assignment/views/widget/widget-'+model.widget.type+'.view.client.html'"></div>


<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid">
        <div class="navbar-header navbar-brand">


            <a href="#/user/{{model.userId}}" ng-click="model.deleteTemp()"><scan class="glyphicon glyphicon-user color-primary floatright"></scan></a>


        </div>
    </div>
</nav>