

<nav class="navbar navbar-default navbar-fixed-top headfoot" >
    <div class="container-fluid">
        <div class="navbar-header">


                <a href="#/user/:uid/website/:wid/page"> <scan class="glyphicon glyphicon-chevron-left navbar-brand"></scan> </a>

                <b class="navbar-brand">Widgets</b>




            <a href="#/user/:uid/website/:wid/page/:pid/widget/new" class="floatright"><scan class="glyphicon glyphicon-plus navbar-brand"></scan></a>
        </div>


    </div>
</nav>

<div class="container">


    <div class="row">
        <div class="col-xs-12">

            <table class="table">



                <tr>
                    <td><h1>Test Header: Bears</h1></td>
                    <td><a href="widget-heading.html"><scan class="glyphicon glyphicon-cog floatright color-primary"></scan></a></td>
                    <td><scan class="glyphicon glyphicon-align-justify floatright"></scan></td>
                </tr>

                <tr>
                    <td><img src="https://www.nps.gov/yell/learn/nature/images/jp-gbear-swanlake-960.jpg" alt="bear"></td>
                    <td><a href="widget-image.html"> <scan class="glyphicon glyphicon-cog floatright color-primary"></scan></a></td>
                    <td><scan class="glyphicon glyphicon-align-justify floatright"></scan></td>
                </tr>

                <tr>
                    <td><video controls><source src="http://www.w3schools.com/html/movie.mp4" type="video/mp4">
                        Your browser does not support video</video></td>
                    <td><a href="widget-youtube.html"> <scan class="glyphicon glyphicon-cog floatright color-primary"></scan></a></td>
                    <td><scan class="glyphicon glyphicon-align-justify floatright"></scan></td>
                </tr>



            </table>

            <div ng-repeat="widget in model.widgets">
                {{widget.name}}
            </div>

        </div>
    </div>














</div>




<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid">

        <div class="navbar-header navbar-brand">
            <scan class="glyphicon glyphicon-triangle-right"></scan>
            <scan class="glyphicon glyphicon-eye-open"></scan>





            <a href="#/user/:uid" class="floatright"><scan class="glyphicon glyphicon-user color-primary"></scan></a>


        </div>
    </div>
</nav>


