<div class="container">

    <div ng-show="model.alert" class="row alert alert-danger alert-dismissible">
        {{model.alert}}
    </div>

    <div class="row">
        <div class="col-xs-12">


            <label for="username">Name</label>
            <input id="username" ng-class="{'alert-danger': model.alert && !model.widget.name}" type="text" ng-model="model.widget.name" class="form-control">
            <div class="col-xs-12 field-error" ng-show="model.alert && !model.widget.name">
                name is required
            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-xs-12">

            <div ng-model="model.widget.text"
                 text-angular
                 ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
                    ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                    ['indent','outdent'],['html']]">
            </div>



        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">


            <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget" ng-click="model.deleteWidget()"><button type="submit" class="btn btn-danger form-control">Delete</button></a>


        </div>
    </div>


</div>